.stats{

    &__maintitle {
        text-align: center;
        color: #1e629f;
        font-size: 35px;
        }
     &__number {
         text-align: center;
         font-size: 64px;
         margin: 0;
 
         &--colorispurple{
             color: #927eec;
         }
         &--colorisblue{
             color: #4a7dd8;
         }
         &--colorisgreen{
             color: #6de8d7;
         }
     }
     &__title {
         text-align: center;
         font-size: 16px;
         margin: 0;
         color: #1e629f;
     }
 
     &__item {
         box-shadow: 0 36px 48px 0 rgba(0,0,0,0.8);
         padding: 50px 0;
     }
 }

 ;