.action {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #1e629F;

    &__background {
        background: url("../images/room.jpg") no-repeat top left;
    }

    &__text {
        margin-bottom: 150px;
    }

    &__title {
        text-align: center;
    }

    &__img {
        background: url(../images/key.svg) no-repeat top left;
        background-size: 100%;
        width: 70px; 
        height: 70px;
        margin: 0 auto;
    }
}